# Habilitar el motor de reescritura de Apache
# Esto es necesario si se usa cualquier tipo de reescritura de URL, aunque
# la directiva DirectoryIndex no lo requiere estrictamente.
RewriteEngine On

# Establecer login.php como el archivo que el servidor buscará primero
# al acceder a la carpeta sin especificar un archivo (ej. http://localhost/colegio_steven_jobs_college/)
DirectoryIndex login.php index.php index.html
